.guarantees {
    padding: 40px 0 70px 0;
    h2 {
        font-size: 40px;
        font-weight: 700;
        color: #181818;
        margin-bottom: 57px;
    }

    h3 {
      font-size: 22px;
      font-weight: 500;
      color: #181818;
      margin-bottom: 15px;
    }

    ul, ol {
        margin: 15px 0 15px 0;
    }

    p {
        margin-bottom: 30px;
    }

    .green {
        color: #399A3A;
    }

    .red {
        color: red;
    }
}